<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="#"/>

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        xmlhttp = new XMLHttpRequest();

        function findUser() {
            var url = "findUser";
            //alert(url);
            xmlhttp.onreadystatechange = function (result) {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    //alert("!"+result);
                    document.getElementById("user").innerHTML = xmlhttp.responseText;
                }
            }

            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }

        function deleteUser() {
            var url = "deleteUser";
            xmlhttp.onreadystatechange = function (result) {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    alert(xmlhttp.responseText);
                    $("#userId").val("");
                    findUser();
                }
            }
            var userId = document.getElementById("userId").value;
            xmlhttp.open("GET", url + "?id=" + userId, true);
            xmlhttp.send();
        }

        function insertUser() {
            // alert("!!!");
            var params = getInfo();
            // alert(params);
            var url = "insertUser";

            $.post(url, params, function (result) {
                alert(result);
                findUser();
            })
        }


        function getInfo() {
            // var param=new FormData();
            // param.append('name',document.getElementById('userName').val());
            // param.append('sex',document.getElementById('userSex').val());
            // param.append('age',document.getElementById('userAge').val());
            // alert(param)
            // return param;
            var param = {
                name: $("#userName").val(),
                sex: $("#userSex").val(),
                age: $("#userAge").val()
            }
            // alert(param)
            return param;
        }

        function findUserById() {
            // alert($("#id").val())
            $.post("findUserById","id="+$("#id").val(),function (result) {
                // alert(result["name"])
                // console(result)
                $("#userName").val(result["name"]);
                $("#userSex").val(result["sex"]);
                $("#userAge").val(result["age"]);
            })
        }

        function updateUser() {
            var url="updateUser"
            var param= {
                id: $("#id").val(),
                name: $("#userName").val(),
                sex: $("#userSex").val(),
                age: $("#userAge").val()
            }
            $.post(url,param,function (result) {
                alert(result);
                findUser();
                $("#id").val("");
                $("#userName").val("");
                $("#userSex").val("");
                $("#userAge").val("");
            })
        }
    </script>
</head>
<body>
<div>
    <button onclick="findUser()">显示数据</button>
</div>
<div>
    <input id="userId" type="text" name="用户id" placeholder="用户id"/>
    <button onclick="deleteUser()">删除用户</button>
</div>
<div>
    <input id="id" type="text"  placeholder="用户id"/>
    <button onclick="findUserById()">查找用户</button><br>
</div>
<div>
    <input id="userName" type="text" name="姓名" placeholder="姓名"/>
    <input id="userSex" type="text" name="性别" placeholder="性别"/>
    <input id="userAge" type="text" name="年龄" placeholder="年龄"/>
    <button onclick="insertUser()">新增用户</button>
    <button onclick="updateUser()">更新数据</button>
</div>
<div id="user"/>

</body>
</html>