<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.DemoDao">
    <insert id="insertUser" parameterType="com.example.demo.pojo.User">
        insert into test (name,sex,age) values (#{name},#{sex},#{age})
    </insert>

    <update id="updateUser" parameterType="com.example.demo.pojo.User">
        update test set name=#{name},sex=#{sex},age=#{age} where id=#{id}
    </update>
</mapper>